@import com.wizardsofsmart.cineaste.domain.people.Person
@import com.wizardsofsmart.cineaste.util.DateUtil.prettyPrintDate

@(person: Person)

@age() = {
    @Html(person.age.map("(" + _ + ")").getOrElse(""))
}

@deathPlace() = {
    @Html(person.deathPlace.map("<br/>" + _).getOrElse(""))
}

@birthPlace() = {
    @Html(person.birthPlace.map("<br/>" + _).getOrElse(""))
}

@birthName() = {
    @Html(person.birthName.map(_ + "<br/>").getOrElse(""))
}

@person.dob.map { dob =>
    <table class="table table-condensed table-striped table-nonfluid">
        <caption>Bio</caption>
        @person.japaneseName.map { japaneseName =>
            <tr>
                <td>Japanese Name</td>
                <td>@Html(japaneseName)</td>
            </tr>
        }

        @person.aliases.map { aliases =>
           <tr>
               <td>Also known as</td>
               <td>@Html(aliases.mkString("<br />"))</td>
           </tr>
        }

        @if(dob == "unknown" && person.dod.isDefined && person.dod.get != "unknown") {
            <tr>
                <td>Born</td>
                <td>Unknown</td>
            </tr>
            <tr>
                <td>Died</td>
                <td>@prettyPrintDate(person.dod.get).getOrElse("") @deathPlace</td>
            </tr>
        } else {
            @if(dob != "unknown") {
                @if(person.dod.isEmpty) {
                    <tr>
                        <td>Born</td>
                        <td>@birthName @prettyPrintDate(dob).getOrElse("") @age @birthPlace</td>
                    </tr>
                } else {
                    @if(person.dod.get == "unknown") {
                        <tr>
                            <td>Born</td>
                            <td>@birthName @prettyPrintDate(dob).getOrElse("") @birthPlace</td>
                        </tr>
                        <tr>
                            <td>Died</td>
                            <td>Unknown</td>
                        </tr>
                    } else {
                        <tr>
                            <td>Born</td>
                            <td>@birthName @prettyPrintDate(dob).getOrElse("") @birthPlace</td>
                        </tr>
                        <tr>
                            <td>Died</td>
                            <td>@prettyPrintDate(person.dod.get).getOrElse("") @age @deathPlace</td>
                        </tr>
                    }
                }
            } else {
                @Unit
            }
        }
    </table>
}
