@import com.wizardsofsmart.cineaste.domain.people.Group
@import com.wizardsofsmart.cineaste.domain.people.Person
@import com.wizardsofsmart.cineaste.domain.people.Role
@import play.api.Play.resource
@import play.api.Play.current

@(group: Group, members: Seq[Person], roles: Seq[Role], bio: Option[String])

@views.html.layout.base(Some(group.displayName)) {
    <h1>@group.displayName</h1>
    @if(resource("/public/images/profile_pics/group/" + group.uuid + ".jpg").isDefined) {
        <img class="img-thumbnail" height="200" width="200" src="@routes.Assets.versioned("images/profile_pics/group/" + group.uuid + ".jpg")">
    } else {
        <img class="img-thumbnail" height="200" width="200" src="@routes.Assets.versioned("images/profile_pics/group/default_group.jpg")">

    }
    <table class="table table-condensed table-striped table-nonfluid">
        @group.japaneseName.map { japaneseName =>
            <tr>
                <td>Japanese Name</td>
                <td>@Html(japaneseName)</td>
            </tr>
        }
        @if(members.nonEmpty) {
            <tr>
                <td>Members</td>
                <td>@Html(members.map(x => x.displayName).mkString("<br />"))</td>
            </tr>
        }
        @group.activePeriod.map { period =>
            <tr>
                <td>Active Period</td>
                <td>@period</td>
            </tr>
        }
    </table>

    @bio.map { bio =>
        <div>
            @Html(bio)
        </div>
    }

    @views.html.people.selectedFilmography(roles)

}