@import com.wizardsofsmart.cineaste.domain.people.Group
@import com.wizardsofsmart.cineaste.domain.people.GroupMembers
@(group: Group, members: Option[GroupMembers])
@views.html.layout.base(Some(group.displayName)) {
    <h1>@group.displayName</h1>
    @if(group.japaneseName.isDefined) {
        <h2>@Html(group.japaneseName.get)</h2>
    }
    @if(group.activePeriod.isDefined) {
        <p>Active Period: @group.activePeriod.get</p>
    }
    @members.map { members =>
        <p>Members</p>
        @for(member <- members.members) {
            @member.displayName <br/>
        }
    }

}