@import com.wizardsofsmart.cineaste.domain.people.Group
@import com.wizardsofsmart.cineaste.domain.people.Person
@import com.wizardsofsmart.cineaste.domain.people.Role

@(group: Group, members: Seq[Person], roles: Seq[Role])

@views.html.layout.base(Some(group.displayName)) {
    <h1>@group.displayName</h1>
    <table class="table table-condensed table-striped table-nonfluid">
        @group.japaneseName.map { japaneseName =>
            <tr>
                <td>Japanese Name</td>
                <td>@Html(japaneseName)</td>
            </tr>
        }
        @if(members.nonEmpty) {
            <tr>
                <td>Members</td>
                <td>@Html(members.map(x => x.displayName).mkString("<br />"))</td>
            </tr>
        }
        @group.activePeriod.map { period =>
            <tr>
                <td>Active Period</td>
                <td>@period</td>
            </tr>
        }
    </table>

    @views.html.people.selectedFilmography(roles)

}