@import com.wizardsofsmart.cineaste.domain.{Group, People, Person}
@(people: Seq[People])
<!DOCTYPE html>
<html>
    <head>
        <title>People - Godzilla Cineaste</title>
    </head>
    <body>
        @views.html.partials.navbar()
    <h1>People</h1>
    <p>This is the people page</p>
    <ul>
    @for(p <- people) {
        @p match {
            case p: Person => {
                <li><a href="@(routes.PersonController.person(p.uuid))">@p.sortName</a></li>
            }
            case p: Group => {
                <li><a href="@(routes.PersonController.group(p.uuid))">@p.displayName</a></li>
            }
        }
    }
    </ul>
    </body>
</html>