@import com.wizardsofsmart.cineaste.domain.people.Person
@import com.wizardsofsmart.cineaste.domain.people.People
@import com.wizardsofsmart.cineaste.domain.people.Group
@(people: Seq[People])
@views.html.layout.base(Some("People")) {
    <h1>People</h1>
    <p>This is the people page</p>
    <ul>
    @for(p <- people) {
        @p match {
            case p: Person => {
                <li><a href="@(routes.PersonController.person(p.uuid))">@p.sortName</a></li>
            }
            case p: Group => {
                <li><a href="@(routes.PersonController.group(p.uuid))">@p.displayName</a></li>
            }
        }
    }
    </ul>
}