@import com.wizardsofsmart.cineaste.domain.Person
@(person: Person)

@biographicalInfo(person: Person) = @{
    if (person.dob.isDefined) {
        if (person.dob.get == "unknown" && person.dod.isDefined && person.dod.get != "unknown") {
            s"<p>Birth Date: Unknown</p><p>Death Date: ${person.dod.get}</p>"
        } else if (person.dob.get != "unknown") {
            if (person.dod.isEmpty) {
                val age = person.age.map("(" + _ + ")").getOrElse("")
                s"<p>Birth Date: ${person.dob.get} $age</p>"
            } else if (person.dod.get == "unknown") {
                s"<p>Birth Date: ${person.dob.get}</p><p>Death Date: Unknown</p>"
            } else {
                val age = person.age.map("(" + _ + ")").getOrElse("")
                s"<p>Birth Date: ${person.dob.get}</p><p>Death Date: ${person.dod.get} $age</p>"
            }
        } else {
            ""
        }
    } else {
        ""
    }
}

@views.html.layout.base(Some(person.displayName)) {
    <h1>@person.displayName</h1>

    @Html(biographicalInfo(person))
}