@import com.wizardsofsmart.cineaste.domain.Person
@(person: Person)

@biographicalInfo(person: Person) = @{
    val age = person.age.map("(" + _ + ")").getOrElse("")
    val deathPlace = person.deathPlace.map("<br/>" + _).getOrElse("")
    val birthPlace = person.birthPlace.map("<br/>" + _).getOrElse("")
    val birthName = person.birthName.map(_ + "<br/>").getOrElse("")
    if (person.dob.isDefined) {
        if (person.dob.get == "unknown" && person.dod.isDefined && person.dod.get != "unknown") {
            s"<p>Born: Unknown</p><p>Died: ${person.dod.get} $deathPlace</p>"
        } else if (person.dob.get != "unknown") {
            if (person.dod.isEmpty) {
                s"<p>Born: $birthName ${person.dob.get} $age $birthPlace</p>"
            } else if (person.dod.get == "unknown") {
                s"<p>Born: $birthName ${person.dob.get} $birthPlace</p><p>Died: Unknown</p>"
            } else {
                s"<p>Born: $birthName ${person.dob.get} $birthPlace</p><p>Died: ${person.dod.get} $age $deathPlace</p>"
            }
        } else {
            ""
        }
    } else {
        ""
    }
}

@views.html.layout.base(Some(person.displayName)) {
    <h1>@person.displayName</h1>

    @Html(biographicalInfo(person))
}