@import com.wizardsofsmart.cineaste.domain.film.Film
@import com.wizardsofsmart.cineaste.domain.film.FilmCast
@import com.wizardsofsmart.cineaste.domain.film.FilmSeries
@import com.wizardsofsmart.cineaste.domain.film.FilmStaff
@import com.wizardsofsmart.cineaste.domain.film.FilmStudio
@import com.wizardsofsmart.cineaste.domain.people.Person
@import com.wizardsofsmart.cineaste.domain.people.Group
@import com.wizardsofsmart.cineaste.value.Photo
@(film: Film, staff: Seq[FilmStaff], cast: Seq[FilmCast], studios: Seq[FilmStudio], series: Option[FilmSeries], synopsis: String, gallery: Option[List[Photo]])
@views.html.layout.base(Some(film.title)) {
    <div class="row">
        <h1>@film.title</h1>
    </div>

    <div class="cineaste-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
            <li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Gallery</a></li>
            <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Review</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="overview">
            <div class="row">
                <div class="col-md-4">
                    <div id="poster">
                        <!-- Poster -->
                        <img class="img-thumbnail" height="400" width="270" src="@routes.Assets.versioned("images/posters/" + film.uuid + ".jpg")">
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="overview">
                        <table class="display-table table-nonfluid">
                            @if(film.japaneseTitleUnicode.isDefined && film.japaneseTitleTransliteration.isDefined && film.japaneseTitleTranslation.isDefined) {
                                <tr>
                                    <td>
                                        <span class="display-field subdue">Original Title</span><br/>
                                        <span class="display-value">@Html(film.japaneseTitleUnicode.get)</span><br/>
                                        <span class="display-field subdue"><i>@film.japaneseTitleTransliteration.get</i> | <i>@film.japaneseTitleTranslation.get</i></span>
                                    </td>
                                </tr>
                            }
                            @film.aliases.map { aliases =>
                              <tr>
                                  <td>
                                      <span class="display-field subdue">Also known as</span><br/>
                                      <span class="display-value">@Html(aliases.mkString("<i>", "</i><br/><i>", "</i>"))</span>
                                  </td>
                              </tr>
                            }
                            <tr>
                                <td>
                                    <span class="display-field subdue">Release Date</span><br/>
                                    <span class="display-value">@film.displayReleaseDate</span>
                                </td>
                            </tr>
                            @defining(for(studio <- studios) yield studio.name) { studioNames =>
                                <tr>
                                    <td>
                                        <span class="display-field subdue">Produced by</span><br/>
                                        <span class="display-value">@Html(studioNames.mkString("<br/>"))</span>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <span class="display-field subdue">Runtime</span><br/>
                                    <span class="display-value">@{film.duration}m</span>
                                </td>
                            </tr>
                            @series.map { series =>
                                @series.precedent.map { precedent =>
                                    <tr>
                                        <td>
                                            <span class="display-field subdue">Preceded by</span><br/>
                                            <span class="display-value">
                                                @if(precedent.showcase) {
                                                    <a href="@routes.FilmController.film(precedent.uuid)"><i>@precedent.title</i></a>
                                                } else {
                                                    <i>@precedent.title</i>
                                                }
                                            </span>
                                        </td>
                                    </tr>
                                }
                                @series.antecedent.map { antecedent =>
                                    <tr>
                                        <td>
                                            <span class="display-field subdue">Followed by</span><br/>
                                            <span class="display-value">
                                                @if(antecedent.showcase) {
                                                    <a href="@routes.FilmController.film(antecedent.uuid)"><i>@antecedent.title</i></a>
                                                } else {
                                                    <i>@antecedent.title</i>
                                                }
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>

                <div class="col-md-4">
                    <div id="staff">
                        <!-- Staff -->
                        <table class="display-table table-nonfluid">
                            @for(role <- staff) {
                                <tr>
                                    <td class="display-left">
                                        <span class="display-field subdue">@role.role</span>
                                    </td>

                                    <td class="display-right">
                                        <span class="display-value">
                                        @for(person <- role.people) {
                                            @if(person.showcase) {
                                                @person match {
                                                    case p: Person => {
                                                        <a href="@routes.PeopleController.person(p.uuid)">@p.displayName</a> <br/>
                                                    }
                                                    case g: Group => {
                                                        <a href="@routes.PeopleController.group(g.uuid)">@g.displayName</a> <br/>
                                                    }
                                                }
                                            } else {
                                                @person.displayName <br/>
                                            }
                                        }
                                        </span>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div>
                        <!-- Synopsis modal button -->
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#synopsis-modal">
                            View spoilerific synopsis
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="cast">
                    <!-- Top Billed Cast -->
                    <table class="table table-condensed table-striped table-nonfluid">
                        <caption>Cast</caption>
                        @defining(cast.filter(_.orders.head < 99)) { billedCast =>
                            @for(member <- billedCast) {
                                <tr>
                                    <td>
                                        @if(member.people.showcase) {
                                            @member.people match {
                                                case p: Person => {
                                                    <a href="@routes.PeopleController.person(p.uuid)">@p.displayName</a>
                                                }
                                                case g: Group => {
                                                    <a href="@routes.PeopleController.group(g.uuid)">@g.displayName</a>
                                                }
                                            }
                                        } else {
                                            @member.people.displayName
                                        }
                                    </td>
                                    <td>
                                    @for(character <- member.characters) {
                                        @character <br/>
                                    }
                                    </td>
                                </tr>
                            }
                        }
                        @defining(cast.filter(_.orders.head == 99)) { uncreditedCast =>
                            @if(uncreditedCast.nonEmpty) {
                                @for(member <- uncreditedCast) {
                                    <tr>
                                        <td>
                                        @if(member.people.showcase) {
                                            @member.people match {
                                                case p: Person => {
                                                    <a href="@routes.PeopleController.person(p.uuid)">@p.displayName</a>
                                                }
                                                case g: Group => {
                                                    <a href="@routes.PeopleController.group(g.uuid)">@g.displayName</a>
                                                }
                                            }
                                        } else {
                                            @member.people.displayName
                                        }
                                        </td>
                                        <td>
                                        @for(character <- member.characters) {
                                            @character <br/>
                                        }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>

                <!-- Synopsis modal content -->
            <div class="modal fade" id="synopsis-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Synopsis</h4>
                        </div>
                        <div class="modal-body">
                        @Html(synopsis)
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="gallery">
            @gallery.map { g =>
               @for(pic <- g) {
                   <a class="gallery" href="@routes.Assets.versioned("images/galleries/films/" + film.uuid + "/" + pic.fileName)" data-lightbox="@{film.uuid}">
                       <img class="img-thumbnail gallery" src="@routes.Assets.versioned("images/galleries/films/" + film.uuid + "/" + pic.fileName)" height="@{pic.thumbHeight}" width="150"/>
                   </a>
               }
            }
        </div>
        <div role="tabpanel" class="tab-pane fade" id="review">This is the review tab</div>
    </div>

}