@import com.wizardsofsmart.cineaste.domain.film.{Film, FilmCast, FilmStaff, FilmStudio}
@(film: Film, staff: Seq[FilmStaff], cast: Seq[FilmCast], studios: Seq[FilmStudio])
<!DOCTYPE html>
<html>
    <head>
        <title>@film.title - Godzilla Cineaste</title>
    </head>
    <body>
        @views.html.navbar()
        <h1>@film.title</h1>
        <p>This is the individual film page</p>
            <!-- Aliases -->
        @if(film.aliases.isDefined) {
            <p>Also known as @film.aliases.get.mkString(", ")</p>
        }
            <!-- Release Date -->
        <p>Released @film.displayReleaseDate</p>
            <!-- Studio -->
        @defining(for(studio <- studios) yield studio.name) { studioNames =>
            <p>Produced by @studioNames.mkString(", ")</p>
        }
            <!-- Duration -->
        <p>Duration: @film.duration minutes</p>
        <hr/>

            <!-- Staff -->
        <table>
            <thead>Staff</thead>
            @for(role <- staff) {
                <tr>
                    <td style="vertical-align : top">@role.role</td>
                    <td>
                    @for(person <- role.people) {
                        @person.displayName <br/>
                    }
                    </td>
                </tr>
            }
        </table>
        <hr/>

            <!-- Top Billed Cast -->
        <table>
            <thead>Cast</thead>
            @defining(cast.filter(_.orders.head < 99)) { billedCast =>
                @for(member <- billedCast) {
                    <tr>
                        <td style="vertical-align : top">@member.people.displayName</td>
                        <td>
                        @for(character <- member.characters) {
                            @character <br/>
                        }
                        </td>
                    </tr>
                }
            }
        </table>

            <!-- Uncredited Cast -->
        @defining(cast.filter(_.orders.head == 99)) { uncreditedCast =>
            @if(uncreditedCast.nonEmpty) {
                <table>

                    <thead>Uncredited Cast</thead>
                    @for(member <- uncreditedCast) {
                        <tr>
                            <td style="vertical-align : top">@member.people.displayName</td>
                            <td>
                            @for(character <- member.characters) {
                                @character <br/>
                            }
                            </td>
                        </tr>
                    }
                </table>
            }
        }
    </body>
</html>