@(title: Option[String])(content: Html)
<!DOCTYPE html>
<html>
    <head>
        @title match {
            case Some(t) => {<title>@t - Godzilla Cineaste</title>}
            case None => {<title>Godzilla Cineaste</title>}
        }
        @views.html.partials.bootstrap()
    </head>
    <body>
        <div class="container">
            @views.html.partials.navbar()
            @content
        </div>
        <script src="@routes.Assets.versioned("javascripts/lightbox.min.js")"></script>
    </body>
</html>